<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/aabda/Documents/goldenScent">
        <classes>
            <class name="Tests.Tests">
                <methods>
                    <include name="addItemToCart"/>
                    <include name="verifyStars"/>
                    <include name="verifyFreeShippingText"/>
                    <include name="verifyBrandAtSimilarProducts"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>